.container{
	background: url('images/bg_page.png');
	width: 1350px;
	margin: auto;
	font-family: "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;

}
.clearfix:after {
    content: "." !important;
    clear: both !important;
    display: block !important;
    height: 0 !important;
    visibility: hidden !important;
}

.header{
	width:100%;
	margin: auto;
	.header-up{
		position: relative;
		.header__logo{
			width: 700px;
		    height: 660px;
		    background-color: #fff;
		    border-radius: 100%;
		    position: absolute;
		    top: -330px;
		    left: -350px;
		    z-index: 1;
			img {
				position: absolute;
				top: 330px;
			 	left: 350px;
			}
		}
		.header__menu{

			.menu--desk{
				list-style-type: none;
				margin-left: 30%;
				float: left;
				li{
					display: inline-block;
					float: left;
					padding: 0 20px ;
					text-align: center;
					border-right: 1px dotted #dddddd;
					height: 50px;
					margin: 20px 0;
					font-weight: 600;

					a{
						text-decoration: none;
						color: #d53a1e;
						font-weight: 20px;
						font-family: "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
						span{
							color: #000;
						}
					}
				}
			}
			.header__icon{
				float: left;
				margin-top: 25px;
				margin-left: 20px;
			}
		}
		.header__mobile{
			width: 82%;
			margin-left: 18%;
			display: none;
			p{

				background-color:#fff;
				i{
					font-size: 80px;
					color: #d63823;
					float: right;
				}
			}

			ul{
				list-style-type: none;
				width: 60%;
				/* float: right; */
				position: absolute;
				z-index: 2;
				right: 0;
				top: 81px;
				height: 0;
				overflow: hidden;
				transition: all 0.5s;

			li{
				// padding: 10px 0;
				width: 100%;
				border: 1px dotted #dddddd;
				text-align: center;
				background-color: #FFF;
				font-weight: 600;

				a{
					text-align: center;
					text-decoration: none;
					color: #d53a1e;
					font-weight: 20px;
					font-family: "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
					span{
						color: #000;
					}
				}
			}
			}

		}

	}
	.header-down{
		.slider {
				width: 100%;
				margin: 0 auto;
			}
		.slick-dots li button:before {
		    font-family: 'slick';
		    font-size: 30px;
		    line-height: 20px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 20px;
		    height: 20px;
		    content: '•';
		    text-align: center;
		    color: #d2d2d2;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}
		.slick-dots li.slick-active button:before {
			color: orange;
		}
		.slider img {
			background: #fff;
			color: #3498db;
			font-size: 36px;
			line-height: 100px;
			margin: auto;
			position: relative;
			text-align: center;
			height: 100%;
			max-width: 100%;
		}
		.slick-dots {
			position: absolute;
			bottom: 3px;
			display: block;
			width: 100%;
			padding: 0;
			list-style: none;
			text-align: center;
			color: #d2d2d2;
		}
	}
}


.content{
	width:1000px;
	margin: auto;
}
.sec1{
	width: 100%;
	h2{
		font-family: "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
		text-align: center;
		font-weight: 20px;
		font-weight: bold;
    	margin-top: 50px;
		span{
			padding-left:10px;
		}
	}
	hr{
		width: 60px;
		border: 2px solid #d53a1e;
		margin-bottom: 50px;
	}
		.sec1__box1{

			.box--btwn{

				h3{
					margin-left: 15px;
					span{
					background-color:#d53a1e;
					color: #fff;
					margin-right: 15px;
					text-align: center;
					padding: 5px 10px;
					}
				}
				dl{
					width: 100%;
					position: relative;
					padding: 20px 0 35px 0;
					font-size: 14px;
					margin-top: 8px;
					dt{
						width: 15%;
						float: left;
						font-weight: bold;
					}
					dd{
						width: 85%;
						float: left;
					}
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon1.png') no-repeat top right;
				}
			}
		}
		.sec1__box2{

			.box--btwn{


				h3{
					margin-left: 15px;
					span{
					background-color:#d53a1e;
					color: #fff;
					margin-right: 15px;
					text-align: center;
					padding: 5px 10px;
					}
				}
				.box2--text{
					margin-left: 15px;
					font-size: 14px;
					margin-top: 8px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon2.png') no-repeat top right;
				}
			}
		}
		.sec1__box3{

			.box--btwn{


				h3{
					margin-left: 15px;
				}
				.box3--text{
					margin-top: 25px;
					dl{
						width: 100%;
						position: relative;
						font-size: 14px;
						padding: 2px;
						margin-left: 10px;
						dt{
							width: 15%;
							float: left;
							font-weight: bold;
						}
						dd{
							width: 85%;
							float: left;
						}
					}
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon1.png') no-repeat top right;
				}
			}
		}

		.sec1__box4{

			.box--btwn{


				h3{
					margin-left: 15px;
				}
				.box4--text{
					margin-left: 15px;
					font-size: 13px;
					margin-top: 23px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon3.png') no-repeat top right;
				}
			}
		}
		.sec1__box5{

			

			.box--btwn{


				h3{
					margin-left: 9px;
				}
				.box5--text{
					margin-left: 15px;
					font-size: 14px;
					margin-top: 20px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon4.png') no-repeat top right;
				}
			}
		}
		.sec1__box6{

			.box--btwn{


				h3{
					margin-left: 10px;
				}
				.box6--text{
					margin-left: 15px;
					font-size: 14px;
					margin-top: 20px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon5.png') no-repeat top right;
				}
			}
		}


		.sec1__box7{
			.box--btwn{


				h3{
					margin-left: 15px;
				}
				.box7--text{
					margin-left: 15px;
					font-size: 13px;
					margin-top: 23px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon6.png') no-repeat top right;
				}
			}
		}
		.sec1__box8{
			.box--btwn{
				h3{
					margin-left: 15px;
				}
				.box8--text{
					margin-left: 15px;
					font-size: 13px;
					margin-top: 10px;
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon7.png') no-repeat top right;
				}
			}
		}
		.sec1__box9{
			.box--btwn{

				h3{
					margin-left: 15px;
					span{
					background-color:#d53a1e;
					color: #fff;
					margin-right: 15px;
					text-align: center;
					padding: 2px 5px;
					}
				}
				dl{
					width: 100%;
					position: relative;
					padding: 0 0 15px 15px;
					font-size: 14px;
					margin-top: 8px;
					dt{
						width: 15%;
						float: left;
						font-weight: bold;
					}
					dd{
						width: 85%;
						float: left;
					}
				}
			}
			.box--down{
				.text{
					background: url('images/content_icon1.png') no-repeat top right;
				}
			}
		}


	.sec1__box1, .sec1__box2, .sec1__box3, .sec1__box4, .sec1__box5,  .sec1__box6,  .sec1__box7,  .sec1__box8, .sec1__box9{
		float: left;
		width: 30%;
		margin: 0;
	
		margin-bottom: 45px;
		&.sec1__box2,&.sec1__box5,&.sec1__box8{margin: 0 5%;}
		img{
			width: 100%;	
		}
		.box--btwn{
			font-family:"遊ゴシック”、YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ’Pro','Hiragino Kaku Gothic Pro',sans-serif;
			background-color: #fff;
			margin-top: -8px;
			padding-bottom: 28px;
			.box1--title, .box3--title, .box9--title{
				color: #94a3c4;
				padding:15px;
			}
			.box2--title, .box4--title, .box5--title, .box6--title, .box7--title, .box8--title{
				color: #f37520;
				padding: 15px;
			}
		}
		.box--down{
			.time{
				border-top: 1px solid #dddddd;
				border-bottom: 1px dotted #dddddd;
				padding: 10px;
				li{
					display: inline-block;
					padding-left: 15px;
					font-size: 14px;
					i{
						background-color: #aba2a2;
						padding: 3px 5px;
						border-radius:50%;
						margin-right: 5px;
					}
				}
					.date{
						font-weight: bold;
						margin-right: 20%;
					}
				}
				.text{
					margin-top: 5px;
					padding: 5px;
					padding-right: 35px;
					font-size: 13px;
				}
		}
	}
	.sec1-view{
		text-align: center;
		margin-top: 60px;
		a{
			width: 230px;
			color: #d84c36;
			padding: 15px 50px 15px 50px;
			border: 2px solid #d84c36;
			text-align: center;
			text-decoration: none;
			background-color: #fff;
			.fa-angle-right{
				font-size: 20px;
				padding-left: 5px;
			}
		}
	}
}
.sec2{
	width: 100%;
	margin-bottom:100px;
	h2{
		font-family: "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
		text-align: center;
		font-weight: 20px;
		font-weight: bold;
    	margin-top: 70px;
		span{
			padding-left:10px;
		}
	}
	hr{
		width: 60px;
		border: 2px solid #d53a1e;
		margin-bottom: 50px;
	}
	.sec2-line1{
		width: 100%;
		margin-bottom: 60px;
		.sec2__box{
			.box--btwn{
				.post1--text{
					margin-top: 17px;
					
						width: 100%;
						position: relative;
						padding-top: 20px;
						font-size: 14px;
						
						dt{
							width: 15%;
							float: left;
							font-weight: bold;
						}
						dd{
							width: 85%;
							float: left;
						}
					
				}
			}
		}
		.sec2__box{
			.box--btwn{
				.box2--title{
					color: #52a744;
					padding: 15px;
				}
				
				.box2--text{
					margin-left: 15px;
					font-size: 14px;
					margin-top: 8px;
				}
			}
		}
		.sec2__box{
			.box--btwn{
				h3{
					margin-left: 15px;
				}
				.box3--text{
					margin-top: 28px;
					dl{
						width: 100%;
						position: relative;
						font-size: 14px;
						padding: 2px;
						margin-left: 10px;
						dt{
							width: 15%;
							float: left;
							font-weight: bold;
						}
						dd{
							width: 85%;
							float: left;
						}
					}
				}
			}
		}
		.sec2__box{
			float: left;
			width: 30%;
			margin: 1.5%;
			img{
				width: 100%;
			}
			.box--btwn{
				font-family:"遊ゴシック”、YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ’Pro','Hiragino Kaku Gothic Pro',sans-serif;
				background-color: #fff;
				margin-top: -8px;
				padding-bottom: 28px;
				.box1--title, .box3--title{
					color: #94a3c4;
					padding:15px;
				}
				
					h3{
					margin-left: 15px;
						span{
						background-color:#d53a1e;
						color: #fff;
						margin-right: 15px;
						text-align: center;
						padding: 5px 10px;
						}
					}
				
			}
			.box--down{
				.time{
					border-top: 1px solid #ddd;
					border-bottom: 1px dotted #ddd;
					padding: 10px;
					li{
						display: inline-block;
						padding-left: 15px;
						font-size: 14px;
						i{
							background-color: #aba2a2;
							padding: 3px 5px;
							border-radius:50%;
							margin-right: 5px;
						}
					}
					.date{
							font-weight: bold;
							margin-right: 20%;
					}
				}
			}
		}
		
	}
	.sec2-view{
		text-align: center;
		a{
			font-family:  "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
			width: 230px;
			color: #d84c36;
			padding: 15px 50px 15px 50px;
			border: 2px solid #d84c36;
			text-align: center;
			text-decoration: none;
			background-color: #fff;
			.fa-angle-right{
				font-size: 20px;
				padding-left: 5px;
			}
		}
	}
}
.sec3{
	width: 100%;
	margin-bottom: 70px;
	.sec3__post1{	
		
			background: url('images/content_card_icon1.png') no-repeat  ;	
	}
	.sec3__post2{	
		
			background: url('images/content_card_icon2.png') no-repeat ;	
	}
	.sec3__post3{
			background: url('images/content_card_icon3.png') no-repeat ;
			}
	.sec3-card{
		width: 30%;
		background: url('images/bg_card.jpg');
		border: 1px solid #d84c36;
		float: left;
		box-sizing: border-box;
		margin: 1.5%;
		.sec3__post1,.sec3__post2, .sec3__post3{
		margin: 40px 0 40px 50px;
		box-sizing: border-box;
		padding-left: 61px;
			text-decoration: none;
			.text--up{
				a{
					font-family :"遊ゴシック”、YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ’Pro','Hiragino Kaku Gothic Pro',sans-serif;
					font-weight: bold;
					font-size: 20px;
					text-decoration: none;
					color:#000;
				}
			}
			.text--down{
				margin-top: -5px;
				a{
				text-decoration: none;
				font-family: "遊明朝", Yuminchou, "ヒラギノ明朝ProN W3", "Hiragino Minchou ProN", "HG明朝E", "MS P明朝", serif;
				color:#d84c36;
				font-size: 13px;
				}
			}
		p{
			float: left;
		}
		// ul{
			
		// }
	}
	}
	
}
.content-map{
	width:100%;
	background-color: #dc5f48;
	.sec4{
		font-family: "遊ゴシック”、YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ’Pro','Hiragino Kaku Gothic Pro',sans-serif;
		width: 1000px;
		margin: auto;
		.sec4__img{
			width: 31%;
			float: right;
			margin-top: 60px;
			img{
				width: 100%;
			}
		}
		.sec4__text{
			padding-top: 50px;
			width: 68%;
			float: right;
			padding-bottom: 20px;
			p{
				color: #fff;
				font-weight: bold;
				margin-top: 5px;
			}
			.border{
				border: 1px solid #fff;
				width: 60px;
			}
			ul{
				margin-top: 20px;
				margin-bottom: 20px;
				li{
					float: left;
					margin-bottom: 8px;
					padding-right: 2px;
					a{
						color: #fff;
						text-decoration: none;
						padding: 7px 11px 7px 15px;
						background-color: #d53a1e;
						font-size: 14px;
					}
				}
			}
		}
		
	}
}
.footer{
	font-family: "遊ゴシック”、YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ’Pro','Hiragino Kaku Gothic Pro',sans-serif;
	width: 100%;
	background-color: #fff;
	font-size:14px;
	.footer-up{
		width:1000px;
		margin: auto;
		padding-top: 30px;
		.footer__img{
			float: left;
			width: 10%;
			margin-right: 3%;
			.title-mobile{
				display: none;
			}
		}
		.footer__text1{
			float: left;
			width: 44%;
			margin-right: 3%;
		}
		.footer__text2{
			float: left;
			width: 40%;
			span{
				color: #d53a1e;
			}
		}
		.title{
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
	.footer-down{
		width: 1000px;
		padding: 30px 0 45px 0;
		margin: auto;
	}
}



.menu-content {
	height: 0;
}
.show {
	height: 520px !important;
}
