@media  screen and (max-width: 1024px){
	.container{
		max-width: 100%;
	}
	.header__menu{
		display: none;
	}
	.header .header-up .header__mobile{
		display: block !important;
	}
}
@media screen and (max-width: 999px){
	.content{
		max-width: 100%;
	}
	.sec1{
		.sec1__box1, .sec1__box2, .sec1__box3, .sec1__box4, .sec1__box5, .sec1__box6, .sec1__box7, .sec1__box8, .sec1__box9{
			width: 45% !important;
			margin: 4% 2.5% !important;
		// &.product:nth-child(2n+2){margin: 0 0 45px 10% !important;}
		
		}
	}
	.sec2 .sec2-line1 .sec2__box{
		width: 45% !important;
		margin: 2.5% !important;
		// &.sec2__box:nth-child(2n+2){margin: 0 0 45px 10% !important;}
	}
	.sec3 .sec3-card{
		width: 60% !important;
		margin: auto !important;
		float: none !important;
		margin-bottom: 20px !important;
		.sec3__post1, .sec3__post2, .sec3__post3{
			margin: 40px 0 40px 115px !important;
		    padding-left: 55px !important;
		}
	}
	.content-map .sec4 {
		width: 100% !important;
		padding-left: 2.5% !important;
		margin: 0 !important;
		.sec4__img {
		width: 90% !important;
		float: none !important;

		}
		.sec4__text{
		width: 90% !important;
		float: none !important;
			ul {
		 		li {
		 			margin-bottom: 10px !important;
		 			a{
		 				padding: 7px 18px 7px 15px !important;
		 				font-size: 20px !important;
		 			}
		 		}
		 	}
		}
	}
	.footer {
		width: 95% !important;
		padding: 0 2.5% !important;
		.footer-up {
			width: 100% !important;
			margin: 0!important;
			.footer__img {
				float: none !important;
				width: 100% !important;
				img{
					
					float: left;
				}
				.title-mobile{
					display: block !important;
					float: left;
					font-weight: 600;
					font-size: 20px;
					margin: 20px 0 0 15px; 
				}
			}
			.footer__text1{
				float: none !important;
				width: 100% !important;	
				font-size: 18px;
				margin-bottom: 45px;
				.title{
					display: none !important;
				}
			}
			.footer__text2{
				float: none !important;
				width: 100% !important;	
				font-size: 18px;
				.title{
					font-size: 20px;
				}
			}

		}
		.footer-down{
			width: 100% !important;
			text-align: center;
			font-size: 20px;
		}
	}
	
}

@media screen and (max-width: 640px){
	.sec1{
		h2{
			text-align: center;
			font-size: 30px;
			span{

			}
		}
		.sec1__box1, .sec1__box2, .sec1__box3, .sec1__box4, .sec1__box5, .sec1__box6, .sec1__box7, .sec1__box8, .sec1__box9{
			width: 90% !important;
			margin: 7% 5% !important;
		// &.product:nth-child(2n+2){margin: 0 0 45px 10% !important;}
			.box--down{
				.time{
					li{
						margin-right: 25% !important;
					}
					
				}
			}
		}
		 .sec1-view a {
		    padding: 15px 170px 15px 170px !important;
		
		}
		
	}	
	.sec2 {
		.sec2-line1 .sec2__box{
			width: 90% !important;
			margin: 5% !important;
			// &.sec2__box:nth-child(2n+2){margin: 0 0 45px 10% !important;}
		}
		.sec2-view a{
			 padding: 15px 170px 15px 170px !important;
		}
	}
	.sec3 .sec3-card{
		width: 90% !important;
		margin: auto !important;
		float: none !important;
		margin-bottom: 20px !important;
		.sec3__post1, .sec3__post2, .sec3__post3{
			margin: 31px 0 31px 116px !important;
		    padding-left: 55px !important;
		    .text--up{
		    	a{
		    		font-size: 30px !important;
		    	}
		    }
		    .text--down{
		    	a{
		    		font-size: 15px !important;
		    	}
		    }
		}
	}
}
